<%- include('header') %>
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de Jeux</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }
        .section {
            margin: 20px;
        }
        .section h2 {
            background-color: #ff6600;
            color: white;
            padding: 10px;
        }
        .games-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .game-card {
            background-color: white;
            border: 1px solid #ccc;
            padding: 10px;
            width: 17%;
            margin-bottom: 20px;
            box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
        }
        .game-card img {
            width: 100%;
            height: auto;
        }
        .game-card h3 {
            font-size: 18px;
            margin: 10px 0;
        }
        .game-card p {
            color: #666;
            font-size: 14px;
        }
        .game-card .rating {
            color: #f5a623;
        }
        .game-card a {
            display: block;/* Pour que le lien prenne toute la largeur */
            text-align: right;
            color: #ff6600;
            text-decoration: none;
            font-weight: bold;
            margin-top: 5px;
        }

        .nouveautes-title {
            position: relative;  /* Ajout pour le positionnement relatif */
            background-color: #ff6600;
            color: white;
            padding: 10px;
            display: flex;      /* Pour un meilleur alignement */
            align-items: center;
        }

        .rotating-badge {
            position: relative;
            top: 50%;          /* Centre verticalement */
            transform: translateY(-50%);  /* Ajustement du centrage */
            left: 70px;       /* Distance par rapport à la droite */
            background: #ff0000;
            color: white;
            padding: 5px 15px;
            border-radius: 3px;
            font-size: 0.8em;
            animation: rotate 5s infinite;
        }

        @keyframes rotate {
            0% { transform: rotate(0deg); }
            5% { transform: rotate(-15deg); }
            10% { transform: rotate(15deg); }
            15% { transform: rotate(-15deg); }
            20% { transform: rotate(0deg); }
            100% { transform: rotate(0deg); }
        }
    </style>
</head>
<body>

<div class="section">
    <h2 class="nouveautes-title"><!-- Jeux sortis uniquement en 2024 -->
        Nouveautés 
        <span class="rotating-badge">Sorties 2024</span>
    </h2>
    <div class="games-container">
        <% if (gamesRecentlyAdded && gamesRecentlyAdded.length > 0) { %>
            <% gamesRecentlyAdded.forEach(function(gameRecentlyAdded, index) { %>
                <div class="game-card">
                    <img src="/<%= gameRecentlyAdded.url_image_jeu %>" alt="Cover">
                    <h3><%= gameRecentlyAdded.titre %></h3>
                    <p class="rating">
                        <%= recentlyAddedGamesAverage[index].avgNote.toFixed(1) %> ★ (<%= recentlyAddedGamesAverage[index].countNote %>)
                    </p>
                    <p><%= gameRecentlyAdded.description %></p>
                    <a href="jeu/<%= gameRecentlyAdded.ID_jeu %>">voir plus</a>
                </div>
            <% }); %>
        <% } else { %>
            <p>Aucun jeu ajouté récemment</p>
        <% } %>
    </div>
</div>

<div class="section">
    <h2>Les plus aimés</h2>
    <div class="games-container">
        <% if (gamesMostLiked && gamesMostLiked.length > 0) { %>
            <% gamesMostLiked.forEach(function(gameMostLiked, index) { %>
                <div class="game-card">
                    <img src="/<%= gameMostLiked.url_image_jeu %>" alt="Cover">
                    <h3><%= gameMostLiked.titre %></h3>
                    <p class="rating">
                        <%= mostLikedGamesAverage[index].avgNote.toFixed(1) %> ★ (<%= mostLikedGamesAverage[index].countNote %>)
                    </p>
                    <p>Xbox, PS4, PS5, PC</p>
                    <p><%= gameMostLiked.description %></p>
                    <a href="jeu/<%= gameMostLiked.ID_jeu %>">voir plus</a>
                </div>
            <% }); %>
        <% } else { %>
            <p>Aucun jeu aimé récemment</p>
        <% } %>
    </div>
</div>

</body>
</html>
<%- include('footer') %>