<%- include('header') %>
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche de Jeu</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }
        .section {
            margin: 20px;
        }
        .section h2 {
            background-color: #ff6600;
            color: white;
            padding: 10px;
        }
        .games-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .game-card {
            background-color: white;
            border: 1px solid #ccc;
            padding: 10px;
            width: 17%;
            margin-bottom: 20px;
            box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
        }
        .game-card img {
            width: 100%;
            height: auto;
        }
        .game-card h3 {
            font-size: 18px;
            margin: 10px 0;
        }
        .game-card p {
            color: #666;
            font-size: 14px;
        }
        .game-card .rating {
            color: #f5a623;
        }
        .game-card a {
            display: block;/* Pour que le lien prenne toute la largeur */
            text-align: right;
            color: #ff6600;
            text-decoration: none;
            font-weight: bold;
            margin-top: 5px;
        }
    </style>
</head>
<body>



    <div class="section">
        <h2 class="nouveautes-title">Résultats</h2>
        <div class="games-container">
            <% if (getGamesResult && getGamesResult.length > 0) { %>
                <% getGamesResult.forEach(function(getGameResult, index) { %>
                    <div class="game-card">
                        <img src="/<%= getGameResult.url_image_jeu %>" alt="Cover">
                        <h3><%= getGameResult.titre %></h3>
                        <p class="rating">
                            <%= gamesAverage[index].avgNote.toFixed(1) %> ★ (<%= gamesAverage[index].countNote %>)
                        </p>
                        <p><%= getGameResult.description %></p>
                        <a href="jeu/<%= getGameResult.ID_jeu %>">voir plus</a>
                    </div>
                <% }); %>
            <% } else { %>
                <p>Aucun jeu trouvé</p>
            <% } %>
        </div>
    </div>

</body>
</html>